<header>
  <mat-toolbar color="primary">
    <div [ngClass]="{'container': router.url.slice(1, 5) === 'auth'}" class="df full-width ai-e">
      <a [routerLink]="['/']" class="logo"></a>
      <div *ngIf="selectedModel" style="padding-bottom: 5px; color: #463e3e;">Model: {{selectedModel.id}}</div>
      <!-- <span class="example-spacer">
        <app-player></app-player>
      </span> -->
      <button *ngIf="!user" style="margin-bottom: 5px;" [routerLink]="['/auth/register']" mat-raised-button
        color="primary" class="m-r-10">
        Sign up free
      </button>
      <button style="margin-bottom: 5px;" mat-button color="primary" [routerLink]="['/auth/login']" *ngIf="!user">
        Login
      </button>
      <div style="margin-bottom: 5px;">
        <a class="links side" *ngIf="user" [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>{{ user.fullname }}
        </a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="user && user.isAdmin" [routerLink]="['/admin']">
            admin
          </button>
          <button mat-menu-item (click)="logout()">logout</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
</header>