<h1 class="title">Create a Cawemo Account</h1>
<p class="subtitle">Sign up below and make work flow.</p>
<div class="auth-container">
  <form action="" [formGroup]="userForm">
    <div class="form-group">
      <input
        type="text"
        class="input"
        placeholder="Your name"
        formControlName="fullname"
        name="fullname"
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        class="input"
        formControlName="email"
        name="email"
        placeholder="Your email address"
      />
      <div class="error" *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
          Password mismatch
        </div>
    </div>
    <div class="form-group">
      <input
        class="input"
        formControlName="password"
        type="password"
        name="password"
        placeholder="Choose a password"
      />
    </div>
    <div class="form-group">
      <input
        class="input"
        formControlName="repeatPassword"
        type="password"
        name="repeatPassword"
        placeholder="Repeat a password"
      />
      <div class="error" *ngIf="userForm.controls['repeatPassword'].invalid && userForm.controls['repeatPassword'].touched">
        Password mismatch
      </div>
    </div>
    <div class="form-submit">
      <button (click)="register()" mat-raised-button color="primary">
        Sign up free
      </button>
    </div>
    <div class="form-footer">
      <span>
        By signing up you agree to our
        <a target="_blank" class="button-link">Terms of Use</a> and
        <a target="_blank" class="button-link">Privacy Policy</a>.
      </span>
    </div>
  </form>
  <form action="" class="social-form">
    <button mat-stroked-button>
      <img src="assets/icons/btn_google.svg" alt="" />
      Sign up with Google
    </button>
    <button mat-stroked-button>
      <img src="assets/icons/btn_linkedin.svg" alt="" />
      Sign up with LinkedIn
    </button>
  </form>
  <div class="form-footer">
    <span>
      Already got an account?
      <a class="button-link" [routerLink]="['/auth/login']">Login</a>
    </span>
  </div>
</div>

<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table cellspacing="0" [formGroup]="userForm">
        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                placeholder="Fullname"
                formControlName="fullname"
                name="fullname"
                required
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                formControlName="email"
                name="email"
                required
              />
              <mat-error *ngIf="email.invalid && email.errors.email"
                >Invalid email address</mat-error
              >
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                formControlName="password"
                type="password"
                name="password"
                required
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                placeholder="Reapet Password"
                formControlName="repeatPassword"
                type="password"
                name="repeatPassword"
                required
              />
              <mat-error
                *ngIf="
                  repeatPassword.invalid && repeatPassword.errors.passwordMatch
                "
                >Password mismatch</mat-error
              >
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" color="primary">
      Register
    </button>
    <span
      >Allrady have an account ?
      <a [routerLink]="['/auth/login']">login</a> here</span
    >
  </mat-card-actions>
</mat-card> -->