<h1 mat-dialog-title>{{label}}</h1>
<div *ngIf="!deleteMode" mat-dialog-content>
  <mat-form-field>
    <mat-label>ID</mat-label>
    <input matInput (keydown)="onKeyDown($event)" (ngModelChange)="validChange($event)" [(ngModel)]="model.id" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="model.name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="model.description" />
  </mat-form-field>
</div>
<div mat-dialog-actions class="jc-c df">
  <button
    mat-button
    [disabled]="!valid && !deleteMode"
    [mat-dialog-close]="model"
    mat-raised-button
    color="primary"
    cdkFocusInitial
  >
    Ok
  </button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
