<h1 mat-dialog-title>Formula dialog</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <mat-select [(ngModel)]="sleectedModel" (ngModelChange)="modelChange($event)">
      <mat-option *ngFor="let item of listModel" [value]="item._id">
        {{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Class</mat-label>
    <mat-select [(ngModel)]="selectedClass" (ngModelChange)="paramsFilter($event)">
      <mat-option *ngFor="let item of listClass" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Object</mat-label>
    <mat-select [(ngModel)]="selectedObject" (ngModelChange)="paramsFilter($event)">
      <mat-option *ngFor="let item of listObjects" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Parameter</mat-label>
    <mat-select [(ngModel)]="selectedParam" (ngModelChange)="paramsChange($event)">
      <mat-option *ngFor="let item of listParams | filtrListParam: selectedClass: selectedObject" [value]="item._id">
        {{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="textarea-wrap">
    <mat-form-field style="width: 60%" class="example-full-width">
      <textarea matInput></textarea>
    </mat-form-field>
    <div style="width: 40%; padding: 20px 0 0 20px;">
      <div class="full-width">
        <button class="full-width" mat-raised-button color="primary" mat-button><= ADD</button>
      </div>
      <div class="df jc-c">
        <button class="func" mat-raised-button color="primary" mat-button>
          <i>
            f(x)
          </i>
        </button>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="jc-c df">
  <button
    mat-button
    [mat-dialog-close]="data"
    mat-raised-button
    color="primary"
    cdkFocusInitial
  >
    Ok
  </button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
