<h1 mat-dialog-title>Formula dialog</h1>
<div id="wrap-dialog-scroll" mat-dialog-content>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <mat-select [(ngModel)]="sleectedModel" (ngModelChange)="modelChange($event)">
      <mat-option *ngFor="let item of listModel" [value]="item._id">
        {{item.id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Class</mat-label>
    <mat-select [(ngModel)]="selectedClass" (ngModelChange)="paramsFilter($event)">
      <mat-option *ngFor="let item of listClass" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Object</mat-label>
    <mat-select [(ngModel)]="selectedObject" (ngModelChange)="selectedObjectChange(listObjects)">
      <mat-option *ngFor="let item of listObjects | filtrListParam: selectedClass" [value]="item._id">
        {{item.name || item.id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Parameter</mat-label>
    <mat-select [(ngModel)]="selectedParam" (ngModelChange)="paramsChange($event)">
      <mat-option *ngFor="let item of listParams | filtrListParam: selectedClass: selectedObject" [value]="item._id">
        {{item.name || item.id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div style="width: 40%; padding: 20px 0 0 20px;">
    <div class="full-width">
      <!-- [disabled]="!boolLastOperator" -->
      <!-- [matTooltip]="!boolLastOperator ? 'Before add math operator: +, -, *, /' : null"? -->
      <button
       (click)="add()" class="full-width" mat-raised-button color="primary" mat-button>
        <= ADD</button> </div>
          <!-- <button (click)="test()" class="func" mat-raised-button color="primary" mat-button>
            <i>
              f(x)
            </i>
          </button> -->
  </div>
  <div class="textarea-wrap">
    <div class="formula-wrap-outer">
      <div (click)="formulaWrapClick();textArea.focus()" class="formula-wrap">
        <div class="formula-item-wrap" *ngFor="let item of formulaArr;let i = index">
            <div *ngIf="(item !== '|') && (i === 0 || (formulaArr[i - 1] && formulaArr[i - 1] !== '|'))" 
            (click)="formulaItemClick(item, i)" class="formula-item-space"
             ></div>
            <div (click)="formulaItemClick(item, i + 1)" class="formula-item" [ngClass]="{'blink blink-item': item === '|'}">
              <span *ngIf="item.split('.').length === 3">
                <!-- {{item | filtrListParamGetName: item.split('.') : listModel: listObjects : listParams}} -->
                {{getName(item)}}
              </span>
              <span *ngIf="item.split('.').length !== 3">
                {{item}}
              </span>
            </div>
            <div *ngIf="(i === (formulaArr.length - 1)) && item !== '|'" (click)="formulaItemClick(item, i+1)" class="formula-item-space"></div>
        </div>
      </div>
      <!-- formula-text -->
      <mat-form-field style="width: 100%;position: absolute;top: 0; z-index: -1;" class=" example-full-width">
        <!-- (ngModelChange)="change($event)" -->
        <!-- [(ngModel)]="formula" (ngModelChange)="change($event)" (keydown)="checkPattern($event)" -->
        <textarea #textArea matInput [(ngModel)]="formulaData" 
        (ngModelChange)="changeForumula($event)" (keydown)="keyFormula($event)"></textarea>
          
      </mat-form-field>
      <!-- <div (click)="textArea.focus()" class="text-area-shield"></div> -->
    </div>

  </div>
</div>
<div mat-dialog-actions class="jc-c df">
  <button mat-button (click)="ok()" mat-raised-button color="primary" cdkFocusInitial>
    Ok
  </button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>