<div class="player-wrap">
  <div class="actions-buttons">
    <button 
      mat-icon-button 
      matTooltip="Info about the action Info about the action Info about the action Info about the action Info about the action Info about the action Info about the action Info about the action Info about the action Info about the action Info about the action Info about the action Info about the action " 
      matTooltipPosition="below"
    >
      <i class="material-icons">
        skip_previous
      </i>
    </button>
    <button mat-icon-button>
      <i class="material-icons">
        pause
      </i>
    </button>
    <button mat-icon-button>
      <i class="material-icons">
        play_arrow
      </i>
    </button>
    <button mat-icon-button>
      <i class="material-icons">
        skip_next
      </i>
    </button>
  </div>
  <div>
    <div class="labeles">
      <div class="box time">
        Time Stamp
      </div>
      <div class="box date">
        20 Dec 2019 20.12
      </div>
      <button mat-icon-button>
        <img width="30px" src="assets/icons/png/chart-down.png" alt="">
      </button>
      <button mat-icon-button>
        <img width="30px" src="assets/icons/png/chart-up.png" alt="">
      </button>
    </div>
    <div class="field">
      <button mat-icon-button style="margin-right: -18px;">
        <i class="material-icons" style="font-size: 38px;">
          arrow_left
        </i>
      </button>
      <div class="slider-wrap">
        <input type="range">
      </div>
      <button mat-icon-button style="margin-left: -18px;">
        <i class="material-icons" style="font-size: 38px;">
          arrow_right
        </i>
      </button>
    </div>
  </div>
</div>