<div class="wrap">
  <div class="head">
    <div class="df ai-c">
      <div class="title">
        Recently Active
      </div>
      <!-- <div class="subtitle">
        Diagrams last changed by you
      </div> -->
    </div>
    <div>
      <button
        (click)="openDialog()"
        mat-raised-button
        color="primary"
      >
        New project
      </button>
    </div>
  </div>

  <div class="model-list">
    <div *ngFor="let item of data" class="model-wrap">
      <div [routerLink]="['/model/'+item._id]" class="model">
        <div style="padding-left: 10px;">
          {{item.name}}
        </div>
        <div class="img-wrap">
          <img src="http://www.ucodice.com/kinglinkr/front/img/circle.png" alt="" />
        </div>
        <div>
          <!-- <div class="name">
            {{item.name}}
          </div> -->
          <div class="desc">
            {{item.description}}
          </div>
        </div>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="more-btn">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="edit(item)" mat-menu-item class="menu-item">
          <i class="material-icons">
            edit
          </i>
          Edit
        </button>
        <button (click)="clone(item)" mat-menu-item class="menu-item">
          <i class="material-icons">
            file_copy
          </i>
          Copy
        </button>
        <button (click)="remove(item)" mat-menu-item class="menu-item">
          <i class="material-icons">
            delete_outline
          </i>
          Delete
        </button>
        <button (click)="export(item)" mat-menu-item class="menu-item">
          <i class="material-icons">
            import_export
          </i>
          Export
        </button>
        <button (click)="file.click();selected = item;" mat-menu-item class="menu-item">
          <i class="material-icons">
            import_export
          </i>
          Import
        </button>
      </mat-menu>
    </div>
  </div>
</div>

<input #file type="file" (change)="onChange($event)" accept=".upm" style="display: none;"/>

