<div class="bpm-wrap">
  <div class="palette-entries">
    <!-- <div class="bpm-item">
      <span class="icon bpmn-icon-hand-tool"></span>
    </div>
    <div class="bpm-item">
      <span class="icon bpmn-icon-lasso-tool"></span>
    </div>
    <div class="bpm-item">
      <span class="entry icon bpmn-icon-space-tool"></span>
    </div>
    <div class="bpm-item">
      <span class="entry icon bpmn-icon-connection-multi"></span>
    </div>
    <div class="separator"></div> -->
    <div class="bpm-item">
      <span pTooltip="Start" tooltipPosition="top" [draggable]="true" id="Input"
        class="icon bpmn-icon-start-event-none"></span>
    </div>
    <div class="bpm-item">
      <span id="Output" pTooltip="Start" tooltipPosition="top" [draggable]="true"
        class="icon bpmn-icon-intermediate-event-none"></span>
    </div>
    <div class="bpm-item">
      <span id="InputOutput" pTooltip="Start" tooltipPosition="top" [draggable]="true"
        class="icon bpmn-icon-end-event-none"></span>
    </div>
    <!-- <div class="bpm-item">
      <span class="icon bpmn-icon-gateway-none"></span>
    </div> -->
    <div class="bpm-item">
      <span id="Process" pTooltip="Start" tooltipPosition="top" [draggable]="true" class="icon bpmn-icon-task"></span>
    </div>
    <div class="bpm-item">
      <span id="Board" pTooltip="Start" tooltipPosition="top" [draggable]="true"
        class="icon bpmn-icon-subprocess-expanded"></span>
    </div>
    <!-- <div class="bpm-item">
      <span class="icon bpmn-icon-data-object"></span>
    </div>
    <div class="bpm-item">
      <span class="icon bpmn-icon-data-store"></span>
    </div>
    <div class="bpm-item">
      <span class="icon bpmn-icon-participant"></span>
    </div>
    <div class="bpm-item">
      <span class="icon bpmn-icon-group"></span>
    </div> -->
  </div>
  <div class="coco-bpm-graph" id="graph" style="height: calc(100vh - 60px);"></div>
  <div [ngClass]="{ show: showSide }" *ngIf="selectedModal" class="sidebar show">
    <mat-form-field class="example-full-width">
      <mat-label>Id</mat-label>
      <input matInput [(ngModel)]="data[selectedModal].id" (ngModelChange)="onFieldChange($event)" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data[selectedModal].name" (ngModelChange)="onFieldChange($event)" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>ObjectClass</mat-label>
      <mat-select [(ngModel)]="data[selectedModal].objectClass" (ngModelChange)="onFieldChange($event)">
        <mat-option value="Board">
          Board
        </mat-option>
        <mat-option value="Input">
          Input
        </mat-option>
        <mat-option value="Output">
          Output
        </mat-option>
        <mat-option value="InputOutput">
          InputOutput
        </mat-option>
        <mat-option value="Process">
          Process
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ObjectType" [(ngModel)]="data[selectedModal].objectType"
        (ngModelChange)="onFieldChange($event)" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" [(ngModel)]="data[selectedModal].description"
        (ngModelChange)="onFieldChange($event)"></textarea>
    </mat-form-field>
    <!-- <div class="input-btn-wrap">
      <mat-form-field class="example-full-width">
        <input readonly [(ngModel)]="picture" matInput placeholder="Picture" />
      </mat-form-field>
      <input #file [(ngModel)]="picture" hidden type="file" />
      <button (click)="file.click()" mat-raised-button color="primary" class="btn">
        <i class="material-icons">
          forward
        </i>
      </button>
    </div> -->
    <table>
      <tr>
        <th style="text-align: left;">Parameters</th>
        <th>M</th>
        <th>C</th>
        <th>S</th>
        <th></th>
      </tr>

      <tbody *ngFor="let item of data[selectedModal].parameters">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="item.name" (ngModelChange)="onFieldChange($event)" />
            </mat-form-field>
          </td>
          <td>
            <div class="df jc-c">
              <mat-checkbox [(ngModel)]="item.measurable" (ngModelChange)="onFieldChange($event)"></mat-checkbox>
            </div>
          </td>
          <td>
            <div class="df jc-c">
              <mat-checkbox [(ngModel)]="item.changeable" (ngModelChange)="onFieldChange($event)"></mat-checkbox>
            </div>
          </td>
          <td>
            <div class="df jc-c">
              <mat-checkbox [(ngModel)]="item.showOnDiagram" (ngModelChange)="onFieldChange($event)"></mat-checkbox>
            </div>
          </td>
          <td>
            <div class="df jc-c ai-c">
              <button mat-icon-button
                (click)="optionsModal[item.name + data[selectedModal].name] = !optionsModal[item.name + data[selectedModal].name]">
                <i class="material-icons-outlined">
                  arrow_drop_down_circle
                </i>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="optionsModal[item.name + data[selectedModal].name]">
          <td colspan="5">
            <mat-accordion>
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Personal data
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="loop-item desc">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Id" [(ngModel)]="item.id" (ngModelChange)="onFieldChange($event)" />
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" [(ngModel)]="item.name"
                      (ngModelChange)="onFieldChange($event)" />
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Description" [(ngModel)]="item.description"
                      (ngModelChange)="onFieldChange($event)"></textarea>
                  </mat-form-field>
                  <div class="input-btn-wrap">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Value" [(ngModel)]="item.value"
                        (ngModelChange)="onFieldChange($event)" />
                    </mat-form-field>
                    <button (click)="openDialog()" mat-raised-button color="primary" class="btn">
                      <i>
                        f(x)
                      </i>
                    </button>
                  </div>
                  <mat-form-field>
                    <mat-label>Feature label</mat-label>
                    <mat-select>
                      <mat-option value="1">
                        1
                      </mat-option>
                      <mat-option value="2">
                        2
                      </mat-option>
                      <mat-option value="3">
                        3
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="chekboxs-list">
                    <mat-checkbox [(ngModel)]="item.measurable" (ngModelChange)="onFieldChange($event)">Measurable
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="item.changeable" (ngModelChange)="onFieldChange($event)">Changeable
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="item.showOnDiagram" (ngModelChange)="onFieldChange($event)">Show on
                      diagram</mat-checkbox>
                    <mat-checkbox [(ngModel)]="item.showName" (ngModelChange)="onFieldChange($event)">Show name
                    </mat-checkbox>
                  </div>
                  <mat-form-field *ngIf="item.showOnDiagram">
                    <mat-label>Control type</mat-label>
                    <mat-select [(ngModel)]="item.controlType" (ngModelChange)="onFieldChange($event)">
                      <mat-option value="Value">
                        Value
                      </mat-option>
                      <mat-option value="Input">
                        Input
                      </mat-option>
                      <mat-option value="Slider">
                        Slider
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </td>
        </tr>
      </tbody>

    </table>

    <div class="m-t-10 m-b-10">
      <button mat-raised-button color="accent" (click)="addParametr()">+ Add parameter</button>
    </div>

    <div class="loop-item">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Id" [(ngModel)]="newParametr.id" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="newParametr.name" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Description" [(ngModel)]="newParametr.description"></textarea>
      </mat-form-field>
      <div class="input-btn-wrap">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Value" [(ngModel)]="newParametr.value" />
        </mat-form-field>
        <button (click)="openDialog()" mat-raised-button color="primary" class="btn">
          <i>
            f(x)
          </i>
        </button>
      </div>
      <mat-form-field>
        <mat-label>Feature label</mat-label>
        <mat-select [(ngModel)]="newParametr.featureLabelNone">
          <mat-option value="1">
            1
          </mat-option>
          <mat-option value="2">
            2
          </mat-option>
          <mat-option value="3">
            3
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="chekboxs-list">
        <mat-checkbox [(ngModel)]="newParametr.measurable">Measurable</mat-checkbox>
        <mat-checkbox [(ngModel)]="newParametr.changeable">Changeable</mat-checkbox>
        <mat-checkbox [(ngModel)]="newParametr.showOnDiagram">Show on diagram</mat-checkbox>
        <mat-checkbox [(ngModel)]="newParametr.showName">Show name</mat-checkbox>
      </div>
      <mat-form-field *ngIf="newParametr.showOnDiagram">
        <mat-label>Control type</mat-label>
        <mat-select [(ngModel)]="newParametr.controlType">
          <mat-option value="Value">
            Value
          </mat-option>
          <mat-option value="Input">
            Input
          </mat-option>
          <mat-option value="Slider">
            Slider
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
