.bpm-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  border: 1px solid #ececec;
  overflow: hidden;
  min-height: calc(100vh - 58px);
}

.palette-entries {
  position: absolute;
  padding: 5px 0;
  left: 20px;
  top: 20px;
  width: 94px;
  border-radius: 5px;
  background: #fafafa;
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;

  .bpm-item {
    width: 100%;
    height: 25px;
    line-height: 46px;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      color: #333;
      font-size: 30px;
    }

    &:hover {
      .icon {
        color: #ff7400;
      }
    }
    .square {
      width: calc(100% - 10px);
      height: 23px;
      border-radius: 5px;
      border: 2px solid;
      display: flex;
      align-items: center;
      font-size: 13px;
      padding-left: 3px;
    }
  }

  .separator {
    margin: 0 5px;
    padding-top: 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    clear: both;
    width: 100%;
  }
}

.sidebar {
  position: absolute;
  width: 100%;
  max-width: 400px;
  background-color: white;
  transform: translate(100%, 0);
  transition: all 0.4s;
  height: 100%;
  right: 0;
  top: 0;
  padding: 15px;
  overflow-y: auto;

  &.show {
    transform: translate(0, 0);
    box-shadow: rgba(0, 0, 0, 0.1) -8px 0px 5px -4px;
    z-index: 111;
  }
}

mat-form-field {
  display: block;
}

.input-btn-wrap {
  display: flex;
  align-items: center;

  mat-form-field {
    width: 100%;
  }

  button.btn {
    min-width: 0;
    padding: 0 6px;
    margin-left: 25px;
    min-width: 35px;

    .material-icons {
      transform: rotate(-90deg);
    }
  }
}

table {
  width: 100%;
  td{
    padding: 0;
  }
  th{
    padding: 0;
  }
}

.chekboxs-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 5px;

  mat-checkbox {
    width: 50%;
  }
}

.loop-item {
  padding-bottom: 20px;
  border-bottom: 1px dashed #b7b7b7;
  padding: 5px 10px;
  padding-bottom: 10px;
  border: 1px dashed #b7b7b7;

  &.desc {
    padding: 0 !important;
    border: none !important;
  }
}
.clickShield{
  position: fixed;
  background: #0000003d;
  width: 100%;
  height: 100%;
  top: 0;
}
.toggle-sidebar-btn{
  position: absolute;
  top: calc(50% - 18px);
  right: 0;
  transition: all .4s;
  &.active{
    transform: translate(-400px, 0);
  }
  a{
    width: 29px;
    min-width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}