
<input #file type="file" (change)="onChange($event)"  style="display: none;"/>


<div class="bpm-wrap">
  <div class="palette-entries">
    <div *ngFor="let item of types" class="bpm-item">
      <div [id]="item" [draggable]="true" [ngStyle]="{'background': colors[item]}"
       class="square" [title]="item" tooltipPosition="top">
      {{item}}
      </div>
    </div>
  </div>
  <div class="player-button">
      <div class="wrap">
          <button (click)="generateCSVPatern()" mat-icon-button>
            <i class="material-icons">
                table_chart
            </i>
          </button>
          <button (click)="file.click()" mat-icon-button>
            <i class="material-icons">
              folder
            </i>
          </button>
          <button (click)="generateCSVFull()" mat-icon-button>
            <i class="material-icons">
              cloud_download
            </i>
          </button>
      </div>
  </div>
  <div class="coco-bpm-graph" id="graph" style="height: calc(100vh - 60px);"></div>
  <!-- <div class="clickShield" *ngIf="showSide" (click)="showSide = false"></div> -->
  <div (click)="showSide = !showSide" class="toggle-sidebar-btn" [ngClass]="{ 'active': showSide }">
    <a mat-raised-button>
      <i class="material-icons">
        menu_open
      </i>
    </a>
  </div>
  <div [ngClass]="{ show: showSide }" *ngIf="selectedModal" class="sidebar show">
    <mat-form-field class="example-full-width">
      <mat-label>Id (latin simbols and digits)</mat-label>
      <input id="dataId" matInput [(ngModel)]="data[selectedModal].id" (keydown)="onKeyDown($event)"
      (ngModelChange)="idModelChange($event)"
      (keyup.enter)="onFieldChangeId($event)" (blur)="onFieldChangeId($event)"/>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data[selectedModal].name" 
      (keyup.enter)="onFieldChange($event)" (blur)="onFieldChange($event)" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>ObjectClass</mat-label>
      <mat-select [(ngModel)]="data[selectedModal].objectClass" 
      (keyup.enter)="onFieldChange($event)" (blur)="onFieldChange($event)">
        <mat-option value="Board">
          Board
        </mat-option>
        <mat-option value="Input">
          Input
        </mat-option>
        <mat-option value="Output">
          Output
        </mat-option>
        <mat-option value="InputOutput">
          InputOutput
        </mat-option>
        <mat-option value="Process">
          Process
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ObjectType" [(ngModel)]="data[selectedModal].objectType"
      (keyup.enter)="onFieldChange($event)" (blur)="onFieldChange($event)" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" [(ngModel)]="data[selectedModal].description"
      (keyup.enter)="onFieldChange($event)" (blur)="onFieldChange($event)"></textarea>
    </mat-form-field>
    <!-- <div class="input-btn-wrap">
      <mat-form-field class="example-full-width">
        <input readonly [(ngModel)]="picture" matInput placeholder="Picture" />
      </mat-form-field>
      <input #file [(ngModel)]="picture" hidden type="file" />
      <button (click)="file.click()" mat-raised-button color="primary" class="btn">
        <i class="material-icons">
          forward
        </i>
      </button>
    </div> -->
    <table class="table">
      <tr>
        <th style="text-align: left;">Parameters</th>
        <th></th>
        <th>M</th>
        <th>C</th>
        <th>S</th>
        <th></th>
      </tr>

      <tbody *ngFor="let item of data[selectedModal].parameters.slice().reverse(); let i = index">
        <tr>
          <td>
            {{item.name}}
          </td>
          <td>
            <mat-form-field *ngIf="(item.value && item.value.charAt(0) !== '=') || !item.value" class="example-full-width table-input">
              <input matInput [(ngModel)]="item.value" 
              (keyup.enter)="onFieldChange($event)" (blur)="onFieldChange($event);validValue(item, index)" />
            </mat-form-field>
            <span *ngIf="item.value && item.value.charAt(0) === '=' ">
              f (x)
            </span>
          </td>
          <td>
            <div class="df jc-c">
              <mat-checkbox [(ngModel)]="item.measurable" 
              (ngModelChange)="onFieldChange($event)"></mat-checkbox>
            </div>
          </td>
          <td>
            <div class="df jc-c">
              <mat-checkbox [(ngModel)]="item.changeable" 
              (ngModelChange)="onFieldChange($event)" (blur)="onFieldChange($event)"></mat-checkbox>
            </div>
          </td>
          <td>
            <div class="df jc-c">
              <mat-checkbox [(ngModel)]="item.showOnDiagram" 
              (ngModelChange)="onFieldChange($event)" (blur)="onFieldChange($event)"></mat-checkbox>
            </div>
          </td>
          <td>
            <div class="df jc-c ai-c">
              <button class="table-more-btn" mat-icon-button
                (click)="optionsModal[item._id + index] = !optionsModal[item._id + index]">
                <i class="material-icons-outlined">
                  arrow_drop_down_circle
                </i>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="optionsModal[item._id + index]">
          <td colspan="6">
            <mat-accordion>
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Personal data
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="loop-item desc">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Id (latin simbols and digits)" (keydown)="onKeyDown($event)" [(ngModel)]="item.id"
                    (keyup.enter)="onFieldChange($event)" (blur)="onFieldChange($event)" />
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" [(ngModel)]="item.name"
                    (keyup.enter)="onFieldChange($event)" (blur)="onFieldChange($event)" />
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Description" [(ngModel)]="item.description"
                    (keyup.enter)="onFieldChange($event)" (blur)="onFieldChange($event)"></textarea>
                  </mat-form-field>
                  <div class="input-btn-wrap">
                    <mat-form-field *ngIf="item.value && item.value.charAt(0) !== '=' " class="example-full-width">
                      <input matInput placeholder="Value" [(ngModel)]="item.value"
                      (keyup.enter)="onFieldChange($event)" (blur)="onFieldChange($event);validValue(item,index)"/>
                    </mat-form-field>
                    <span *ngIf="item.value && item.value.charAt(0) === '=' " class="example-full-width">Value = f (x)</span>

                    <button (click)="openDialog(item)" mat-raised-button color="primary" class="btn">
                      <i>
                        f(x)
                      </i>
                    </button>
                  </div>
                  <mat-form-field>
                    <mat-label>Feature label</mat-label>
                    <mat-select>
                      <mat-option value="1">
                        1
                      </mat-option>
                      <mat-option value="2">
                        2
                      </mat-option>
                      <mat-option value="3">
                        3
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="chekboxs-list">
                    <mat-checkbox [(ngModel)]="item.measurable" 
                    (ngModelChange)="onFieldChange($event)" (blur)="onFieldChange($event)">Measurable
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="item.changeable" 
                    (ngModelChange)="onFieldChange($event)" (blur)="onFieldChange($event)">Changeable
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="item.showOnDiagram" 
                    (ngModelChange)="onFieldChange($event)" (blur)="onFieldChange($event)">Show on
                      diagram</mat-checkbox>
                    <mat-checkbox [(ngModel)]="item.showName" 
                    (ngModelChange)="onFieldChange($event)" (blur)="onFieldChange($event)">Show name
                    </mat-checkbox>
                  </div>
                  <mat-form-field *ngIf="item.showOnDiagram">
                    <mat-label>Control type</mat-label>
                    <mat-select [(ngModel)]="item.controlType" 
                    (keyup.enter)="onFieldChange($event);" (blur)="onFieldChange($event);sliderChange($event, item, index)">
                      <mat-option value="Value">
                        Value
                      </mat-option>
                      <mat-option value="Input">
                        Input
                      </mat-option>
                      <mat-option value="Slider">
                        Slider
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field *ngIf="item.controlType === 'Slider'">
                    <input matInput placeholder="Slider Step" [(ngModel)]="item.sliderStep" 
                    (keyup.enter)="onFieldChange($event)" (blur)="onFieldChange($event)" />
                  </mat-form-field>
                  <mat-form-field *ngIf="item.controlType === 'Slider'">
                    <input matInput placeholder="Slider Max" [(ngModel)]="item.sliderMax" 
                    (keyup.enter)="onFieldChange($event)" (blur)="onFieldChange($event)" />
                  </mat-form-field>
                  <mat-form-field *ngIf="item.controlType === 'Slider'">
                    <input matInput placeholder="Slider Min" [(ngModel)]="item.sliderMin" 
                    (keyup.enter)="onFieldChange($event)" (blur)="onFieldChange($event)" />
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </td>
        </tr>
      </tbody>

    </table>

    <div class="m-t-10 m-b-10">
      <button mat-raised-button color="accent" (click)="addParametr()">+ Add parameter</button>
    </div>

    <div class="loop-item">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Id (latin simbols and digits)" (keydown)="onKeyDown($event)" [(ngModel)]="newParametr.id" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="newParametr.name" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Description" [(ngModel)]="newParametr.description"></textarea>
      </mat-form-field>
      <div class="input-btn-wrap">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Value" [(ngModel)]="newParametr.value" />
        </mat-form-field>
        <button (click)="openDialog(newParametr)" mat-raised-button color="primary" class="btn">
          <i>
            f(x)
          </i>
        </button>
      </div>
      <mat-form-field>
        <mat-label>Feature label</mat-label>
        <mat-select [(ngModel)]="newParametr.featureLabelNone">
          <mat-option value="1">
            1
          </mat-option>
          <mat-option value="2">
            2
          </mat-option>
          <mat-option value="3">
            3
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="chekboxs-list">
        <mat-checkbox [(ngModel)]="newParametr.measurable">Measurable</mat-checkbox>
        <mat-checkbox [(ngModel)]="newParametr.changeable">Changeable</mat-checkbox>
        <mat-checkbox [(ngModel)]="newParametr.showOnDiagram">Show on diagram</mat-checkbox>
        <mat-checkbox [(ngModel)]="newParametr.showName">Show name</mat-checkbox>
      </div>
      <mat-form-field *ngIf="newParametr.showOnDiagram">
        <mat-label>Control type</mat-label>
        <mat-select [(ngModel)]="newParametr.controlType">
          <mat-option value="Value">
            Value
          </mat-option>
          <mat-option value="Input">
            Input
          </mat-option>
          <mat-option value="Slider">
            Slider
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="newParametr.controlType === 'Slider'">
        <input matInput placeholder="Slider Step" [(ngModel)]="newParametr.sliderStep" />
      </mat-form-field>
      <mat-form-field *ngIf="newParametr.controlType === 'Slider'">
        <input matInput placeholder="Slider Max" [(ngModel)]="newParametr.sliderMax" />
      </mat-form-field>
      <mat-form-field *ngIf="newParametr.controlType === 'Slider'">
        <input matInput placeholder="Slider Min" [(ngModel)]="newParametr.sliderMin" />
      </mat-form-field>
    </div>
  </div>
</div>